[class^=icon-]{display: inline-block;background-size: contain;background-repeat: no-repeat;background-position: 0 0;font-style: normal;font-size: 0;line-height: 1;}

.font-size-12px{font-size: 12px !important;}
.font-size-14px{font-size: 14px !important;}
.font-size-16px{font-size: 16px !important;}
.font-size-18px{font-size: 18px !important;}
.font-size-26px{font-size: 26px !important;}
.font-size-28px{font-size: 28px !important;}
.font-size-30px{font-size: 30px !important;}

.min-width-80px{min-width: 80px;}
.min-width-90px{min-width: 90px;}
.min-width-100px{min-width: 100px;}
.width-200px{width:200px;}
.width-600px{width:600px;}

.cursor-pointer{cursor: pointer;}

.text-sky{color: #b3cfff !important;}

hr{margin: 0;border-width: 5px;border-color: #eee;}
.hr{
    border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;height: 8px;background: #f1f2f3;
    &.vertical{border-top: 0;border-bottom: 0;border-left: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5;width: 8px;height: auto;}
}

button{border-radius: 0;border: 0;padding: 0;margin: 0;background: transparent;line-height: 1;}

textarea{resize: none!important;}

.invalid-feedback, .valid-feedback{
    width: auto;margin-left: 20px;
}

.bg-cell-blue{background: #dae3f3 !important;}

.tr-highlight{background: #eee !important;}

.table{
    > thead > tr > th{white-space: nowrap;}
    th,
    td{
        [type=checkbox]{margin-top: -2px;}
    }
    th{
        &.sort{
            cursor: pointer;
            &.active{
                .fa, .far, .fas{transform: rotate(180deg);}
            }
            .fa, .far, .fas{vertical-align: middle;margin-left: .25rem;font-size: 14px;margin-top: -2px;}
        }
    }
    .tr-selected{background: #fff8e3;
        &:hover{background: #f9eecd;}
    }
    .dropdown-toggle{
        -webkit-appearance: none;
    }
}

.table-wrap{
    position: relative;overflow-y: auto;overflow-x: hidden;
    .table{}
    .table > thead > tr > th{
        position: sticky;top:0;
        &::before{content: '';position: absolute;top:-1px;left: 0;right: 0;height: 1px;background: #e3e3e3;}
        &::after{content: '';position: absolute;bottom:-1px;left: 0;right: 0;height: 1px;background: #e3e3e3;}
    }
}

.table-fixed{table-layout: fixed;}

.table-center{
    th,
    td{text-align: center;}
}

.table-title{
    font-weight: 700; font-size: 16px; margin-bottom: .5rem;
    i{
        font-size:18px;
        margin-right: 10px;
    }
}

input[type=file].form-control{
    padding-top: 3px;
}

input[type=text]{
    &[disabled]{background-color: #f2f2f2;}
}

input[type=checkbox]:not(.custom-control-input){
    vertical-align: middle;
    & + label{_margin-left: 3px;vertical-align: middle;transform: translateY(-1px);}
    label + &{margin-left: 12px;}
}

input[type=radio]:not(.custom-control-input){
    vertical-align: middle;
    & + label{margin-left: 3px;vertical-align: middle;}
    label + &{margin-left: 12px;}
}

.form-datepicker{
    background: #fff url('../images/icon-calendar.svg') no-repeat right .5rem top 50%;padding-right: 28px;
    &.form-control-sm{background-size: auto 13px;}
}

/* .form-timepicker{
    background: #fff url('../images/icon-clock.svg') no-repeat right .5rem top 50%;padding-right: 30px;
    &.form-control-sm{background-size: auto 14px;}
} */

.mdtimepicker{
    .mdtp__wrapper{bottom: auto;top: 50%;transform: translate(-50%, -50%);transition: none;}
}

.datepicker-box{
    position: absolute;left: 430px;top: 0;
    border-radius: 8px;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    overflow: hidden;
    .ui-widget.ui-datepicker{border: 0;}
}
.ui-widget.ui-datepicker{
    width: 300px;padding: 1rem;border-radius: 0;border-color: $input-border-color !important;
    .ui-widget-header{background: #fff;border: 0;}
    .ui-state-default{border: 0;}
    td span,
    td a{text-align: center;border-radius: 10px;padding: 6px 2px 0;margin: 0 2px;width: 31px;height: 31px;background: none;}
    .ui-state-highlight{background: $light;color: #000;}
    .ui-state-active{background: $primary;color: #fff !important;}
    .ui-datepicker-calendar{
        font-size: inherit;
        > thead th{border-top: 1px solid #ececea;border-bottom: 1px solid #ececea;}
        > thead th.ui-datepicker-week-end:first-child,
        > tbody td.ui-datepicker-week-end:first-child a{color: $danger;}
        > tbody tr:first-child a,
        > tbody tr:first-child span{margin-top: 8px;}
    }
    .ui-datepicker-prev{
        cursor: pointer;
        .ui-icon{display: none;}
        &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 7px 5px 0;border-color: transparent $primary transparent transparent;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
    }
    .ui-datepicker-next{
        cursor: pointer;
        .ui-icon{display: none;}
        &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 7px;border-color: transparent transparent transparent $primary;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
    }
    select.ui-datepicker-month,
    select.ui-datepicker-year{width: auto;border: 0;font-size: 15px;}
    select.ui-datepicker-month{margin-left: 12px;}
}

textarea.form-control{resize: none;}

@function arrow($direction, $color:212222) {
    $iconList: (
        down: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.419' height='8'%3E%3Cpath d='m218.678 92.151 5.419 5.419-5.419 5.419 1.29 1.29 6.71-6.71-6.71-6.71z' transform='rotate(90 161.479 -57.199)' fill='%23#{$color}'/%3E%3C/svg%3E%0A"
    );
    $icon: map-get($iconList, $direction);
    @return url("data:image/svg+xml;charset=utf8,#{$icon}");
}


.pagination{
    justify-content:center; width:100%;
    .page-link{width: 32px;height: 32px;padding: 0;display: flex;align-items: center;justify-content: center;}
}

.modal-content{border-radius: 0;}
.modal-footer{
    .btn{min-width:70px;}
}
.modal-backdrop ~ .modal-backdrop { z-index: 1051; }
.modal-backdrop ~ .modal-backdrop ~ .modal-backdrop { z-index: 1053; }
.modal[data-overlap=true] { z-index: 1052; }


.mCSB_scrollTools{width: 12px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width: 5px;border-radius: 6px;}
.mCSB_inside>.mCSB_container{margin-right: 20px;}

.title, .title-location{
    font-size: 22px;font-weight: 700;margin-bottom: 1.5rem;
}

.bootstrap-timepicker{
    .input-group-addon{
        position: absolute;right: .5rem;top: 50%;z-index: 3;transform: translateY(-50%);line-height: 1;
        i{font-size: 16px;color: #888a8d;}
    }
    .form-control-sm + .input-group-addon{
        i{font-size: 13px;width: 13px;height: 13px;}
    }
}
.bootstrap-timepicker-widget{
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.06);
    table td input{width: 30px;padding-top: 3px;}
}


.dashboard{
    .card{
        .card-body{
            padding:1.5rem;
        }
    }
}

progress { appearance: none;overflow: hidden;height: 10px; }
progress::-webkit-progress-bar { background:#f0f0f0; box-shadow: inset 3px 3px 10px #ccc; }
progress::-webkit-progress-value {background: $blue;}
.progress{
    width:100%;
    height:10px;
    background:$gray-100;
    overflow: hidden;
    progress{
        background-color: $gray;
        border: 0;
        display:block;
        width:100%;
    }
    progress::-webkit-progress-bar{
        background-color: $gray-100;
        display:block;
    }
    progress::-webkit-progress-value{
        background-color: $blue;
        display:block;
    }
    progress::-moz-progress-bar{
        background-color: $gray-200;
        display:block;
    }
}

.rating {
    overflow: hidden;
    .inner{float: left;}
    input { display: none; }
    label:before { margin: 3px; line-height: 1; font-size: 20px; font-family: "Font Awesome 5 Free"; display: inline-block; content: "\f005";font-weight: 900; }
    .half:before { content: "\f089"; position: absolute; }
    label { color: #ddd; float: right; margin: 0 !important;}

    input:checked ~ label,
    &:not(:checked) > label:hover, /* hover current star */
    &:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
    input:checked + label:hover, /* hover current star when changing rating */
    input:checked ~ label:hover,
    label:hover ~ input:checked ~ label, /* lighten current selection */
    input:checked ~ label:hover ~ label { color: #FFED85;  }
}
