.search-condition{
    background: #f0f0f0;border: 1px solid #ddd;padding: 1rem;margin-bottom: 1.5rem;
    .btn-dark{min-width: 90px;}
    .d-flex{
        > label{margin-right: 15px;font-weight: 500;}
        > .form-control,
        > .custom-select{margin-right: 30px;}
    }
}

.thumbnail{
    width:150px;
    height:80px;
    margin: auto;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.my-statistics-summary{
    display: flex;justify-content: center;
    .item{
        width: 120px;margin: 0 1rem;
        > p{text-align: center;font-weight: 500;font-size: 14px;margin-bottom: .75rem;}
    }
    .circle{
        border-radius: 50%;height: 120px;background: #d2d1d1;padding: 1.5rem;display: flex;align-items: center;justify-content: center;text-align: center;
        > div{flex: 1}
        strong{font-size: 16px;}
        small{font-size: 12px;}
        .progress{
            margin: .75rem 0;
            background: #fff;
            progress{background: #fff;}
            progress::-webkit-progress-bar{
                background-color: #fff;
            }
            progress::-moz-progress-bar{
                background-color: #fff;
            }
            progress::-webkit-progress-value{
                background-color: $yellow;
            }
        }
    }
}

[class^=tinnitus-]{
    display: inline-block;width: 12px;height: 12px;border-radius: 50%;vertical-align: middle;transform: translateY(-1px);
    &.tinnitus-level-1{background: #70ad47;}
    &.tinnitus-level-2{background: #ffc000;}
    &.tinnitus-level-3{background: #ec7d32;}
    &.tinnitus-level-4{background: #ff2d00;}
}